pbr
argparse
Github3.py
PyYAML
Paste
WebOb
paramiko
GitPython
ordereddict
python-daemon
extras
statsd
voluptuous
gear
apscheduler
PrettyTable
babel
six
 
uritemplate

# Lock jwcrypto due to SETI-6071
jwcrypto==0.9.1

